TTS_PROVIDER=edge
TTS_VOICE=en-US-AriaNeural
TTS_RATE=0
TTS_VOLUME=100
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_VOICE_VERSION=byte_voice_dev_v1
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_STABILITY=0.5
ELEVENLABS_SIMILARITY_BOOST=0.75
ELEVENLABS_STYLE=0.0
ELEVENLABS_USE_SPEAKER_BOOST=true
ELEVENLABS_SPEED=1.0
ASSET_PROVIDER=pexels
PEXELS_API_KEY=
DEFAULT_CHARACTER_ID=byte
CAPTION_ALIGNMENT_PROVIDER=fake
WHISPERX_MODEL=small
WHISPERX_DEVICE=cpu
